/* Variables */
:root {
	--grey:			#888888;
	--mediumBlue: 	#494949;
	--darkBlue:		#363636;
	--darkBlue2:	#000000;
	--darkGrey:		#313131;
	--darkGrey2:	#282828;
	--lightBlue: 	#D0E5D2;
	--lightBlue30:	rgba(208, 229, 210, 0.3);
	--newGold:		#F8DB66;
	--rowa: 		rgba(0, 0, 0, .85);
	--rowb: 		rgba(73, 73, 73, .85);
	--label:		#363636;
	--menuTop:		#303030;
	--menuBottom:	#1F1F1F;
	--tpBlack:		rgba(0,0,0,0.63);
	--border:		1px solid var(--mediumBlue);}
	
/* General stuff */
a:hover {
	color: var(--darkGreen);
	text-decoration: none;}
#userinfo_stats li#stats_gold {color: var(--newGold) !important;}
.profile .box_stats #gold .stat {color: var(--newGold) !important;}
.profile .box_stats #profile_views .stat {color: #FFF !important;}
#logo {
	border-bottom: var(--border) !important;
	background: url('images/newlogo.png') no-repeat center !important;
	margin-left: 0 !important;}
#userinfo {
	background: linear-gradient(var(--menuTop),var(--menuBottom));
	border-bottom: var(--border) !important}
.global_buffs {background-color: transparent !important;}
body {
	background-image: none !important;
	background: var(--darkBlue2);}
#menu {border-bottom: var(--border);}
#userinfo_minor{background: url("images/userinfo_minor_icon.png") no-repeat scroll right top;}
#userinfo_minor:hover li {background: var(--darkBlue2);}
#userinfo_minor li {border-bottom: var(--border);}
#userinfo_minor li a {color: var(--lightBlue);}
#userinfo_minor li a:hover {color: var(--darkGreen);}
#userinfo_minor a.highlight {
    background-color: var(--darkBlue2);
	border: 2px solid var(--darkGreen);}
#userinfo_stats:hover li {background: var(--darkBlue2);}
#userinfo_stats li {
	border-bottom: var(--border) !important;
	color: var(--lightBlue);}
#userinfo_stats li a:hover {color: var(--darkGreen) !important;}
#userinfo_stats li a {color: var(--lightBlue) !important;}
#userinfo_username .sub span {
	color: var(--lightBlue);
	background-color: var(--darkBlue2);
	border-bottom: var(--border);}
#userinfo_username .sub span a {color: var(--lightBlue);}
#userinfo_username .sub span a:hover {color: var(--darkGreen);}
#userinfo_username .sub span:first-child {border-top: var(--border);}
#userinfo_minor li:first-child {border-top: var(--border);}
#userinfo_minor li {border-bottom: var(--border);}
#userinfo_stats li:first-child {border-top: var(--border);}
#userinfo_stats li {border-bottom: var(--border);}
#userinfo_username .sub span:last-of-type, #userinfo_stats li:last-of-type, #userinfo_minor li:last-of-type {border-bottom: var(--border) !important;}
#searchbars ul:hover li {background: var(--darkBlue);}
#searchbars ul li input {background-color: var(--darkBlue2) !important;}
#alerts:hover a {background: var(--darkBlue2);}
#alerts:hover a:hover {
	color: var(--darkGreen);
	background: var(--darkBlue2);}
#content {background: black;}
.box, table {background: black;}
#user td.label {background-color: var(--mediumBlue);}
.profile .box_main_info {background: black;}
.profile .box_links {border-top: 2px solid var(--darkBlue);}
.profile .box_stats .offline {opacity: 1;}
.profile .box_stats #last_seen {opacity: 1;}
#user .box_gold td.label {background-color: rgba(73,73,73,0.35);}
.sticky #displayname:before {background-image: url('images/sticky1.png');}
#platcheckbox td[colspan="5"] {background-color: var(--darkBlue);}
input::placeholder {
	color: var(--grey);}
input {
	background-color: var(--darkGrey);
	border: var(--border);}
input, select, button {background: var(--darkBlue) !important;}
#announcement {
	width: 70%;
	font-size: 1.1em;
	border-color: var(--grey);
	background-color: var(--tpBlack);}
	
/* BBCode */
.bbbutt {
	background: var(--darkBlue);
	border: medium solid var(--mediumBlue);}
#bb_bold {background-image: url('images/text_bold.png');}
#bb_ita {background-image: url('images/text_italic.png');}
#bb_und {background-image: url('images/text_underline.png');}
#bb_strk {background-image: url('images/text_strikethrough.png');}
#bb_lef {background-image: url('images/text_align_left.png');}
#bb_cent {background-image: url('images/text_align_center.png');}
#bb_righ {background-image: url('images/text_align_right.png');}
#bb_h1 {background-image: url('images/text_heading_1.png');}
#bb_h2 {background-image: url('images/text_heading_2.png');}
#bb_h3 {background-image: url('images/text_heading_3.png');}
#bb_list {background-image: url('images/text_list_bullets.png');}
	
/* Forums */
#forums .thin {background-color: black;}
.rowa td {
	background-color: var(--darkBlue2);
	border-bottom: 2px solid var(--darkBlue);}
.rowb td {background-color: var(--darkGrey);}
#forums .forum_post tr {background-color: black;}
td.avatar {background-color: black !important;}
tr.likes td {
	background-color: black;
	border-top: 2px solid var(--darkBlue);}
tr.likes, tr.likes a {color: var(--grey);}
tr.likes td:nth-of-type(2) {color: var(--grey);}
#forums .forum_post .colhead_dark {background: linear-gradient(var(--menuTop),var(--menuBottom)) !important;}
#footer {background-color: black;}
#forums #content .thin td.unread {background-image: url('images/balloon-unread.png');}
#forums #content .thin td.unread_sticky {background-image: url('images/sticky-unread.png');}
#forums #content .thin td.unread_locked{background-image:url('images/lock-unread.png');}
#forums #content .thin td.unread_locked_sticky{background-image: url('lock-sticky-unread.png');}
.last_read {background-image: url('images/go_last_read.png');}
.sticky_post_label::before {background: url('images/pin.png');}
.forumstat {background-color: var(--darkBlue);}
#forums .sub span {background-color: var(--darkBlue2);}
#forums #content .thin .sub a {color: var(--lightBlue) !important;}
#forums #content .thin .sub a:hover {color: var(--darkGreen) !important;}
#forums #content .thin .sub span:first-child {border-top: var(--border);}
#forums #content .thin .sub span {border-top: var(--border);}
#forums #content .thin .sub span:last-of-type {border-bottom: var(--border);}
span.redacted_bbcode {border: 1px solid var(--grey)} 

/* Reports */
#reportsv2 .colhead, #reportsv2 .colhead_dark, #reportsv2 .head {
	background-color: var(--darkBlue);
	background: linear-gradient(var(--menuTop),var(--menuBottom));}
#reportsv2 #content table tr td table tr {
	border-bottom: 2px solid var(--darkBlue);
	background: black;}

/* Inbox */
#inbox td {border-bottom: rgba(0,0,0,0) !important;}
#inbox input {background-color: var(--darkBlue);}
#inbox textarea {background-color: var(--darkBlue);}
	
/* Torrents */
#torrents td.label {background-color: var(--mediumBlue);}
#torrents input {background-color: var(--darkBlue);}
#torrents .groupoptions {background: url('images/optionsGreen.png') no-repeat scroll right top;}
#torrents .groupoptions:hover a {
	background: var(--darkBlue2);
	border-top: var(--border);}
#torrents .sticky td {border-top: none !important;}
	
/* Shop and Inventory */
.book .book_content {background-color: var(--darkGrey2);}
.ui-widget-header {color: var(--lightBlue);}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
	background: var(--darkBlue2);
	border: var(--border);}
.ui-widget-content {
	background: var(--darkBlue2);
	border: 1px solid var(--darkBlue);}
.ui-widget-header {
	background: linear-gradient(var(--menuBottom),var(--darkBlue2));
	border-bottom: 1px solid var(--darkBlue);}
#items_navigation {
	width: 198px;
	background: var(--darkBlue);
	border: var(--border);}
#items_navigation li a {color: var(--lightBlue);}
#items_navigation li a:hover {color: var(--darkGreen);}
#items_navigation li#selected a {color: var(--darkGreen);}
#crafting_recipes {
	background-color: var(--darkBlue);
	border: var(--border);
	border-radius: 20px;}
#crafting_panel #items {
	background-color: var(--darkGrey2);
	border: var(--border);
	border-radius: 20px;}
#crafting_panel #slots_panel {
	background: var(--darkBlue);
	border: var(--border);
	border-radius: 20px;}
#crafting_panel .itemslot {
	background-color: var(--darkGrey2) !important;
	border: var(--border);
	border-radius: 16px;}

@media screen and (min-width: 1100px) {
	#userinfo #userinfo_username .donateico {
		margin-top: 31px;
		margin-left: -7px;}
	#userinfo #userinfo_username .donateico a {
		font-family: roboto !important;
		font-size: 1.7em !important;}
	#menu {
		border-bottom: var(--border);
		font-family: roboto !important;
		font-size: 1.7em !important;}
	#menu ul {
		max-width: 1050px !important;
		margin-top: -3px !important;}
}
	
@media screen and (min-width: 801px) {
	#menu {border-bottom: var(--border);}
	.inventory #content li.item_li {
		background: var(--menuBottom);
		border: var(--border);
		border-width: 2px;}
}