#logo {background: url('images/logo-small.png') no-repeat bottom center !important;}
#alerts {
	background: url('images/optionsGreen.png') no-repeat scroll right top var(--lightBlue);
	background-color: transparent;}
#alerts a {
	border-top: var(--border) !important;
	border-bottom: var(--border) !important;}
#menu {border-bottom: none}
#menu ul li {border-top: var(--border) !important;} 
#menu ul li a {color: var(--lightBlue);}
#menu ul:hover li {background: var(--darkBlue2);}
#menu ul li:last-of-type {border-bottom: var(--border) !important;}
ul#userinfo_minor.highlighted {
	background:url("images/personred.png") no-repeat !important;
	background-size: 25px auto !important;
	background-position: 0px 0px !important;}
.global_buffs {
	top: 103px !important;
	left: 170px !important;
	font-size: 12px;}
#forums #content .thin .sub span {background: var(--darkBlue2);}
#forums #content .thin .sub a {color: var(--lightBlue) ;}

#items_navigation {width: 18px;}